:root {
  --primary-background-color: #4d8b8b; /* Dark Slate Gray */
  --secondary-background-color: #1919705d; /* Midnight Blue */
  --primary-text-color: #f8f8ff; /* Ghost White */
  --secondary-text-color: #b0c4de; /* Light Steel Blue */
  --accent-color: #8caf00; /* Electric Lime */
  --accent-color-active: #ccff00; /* Electric Lime */
  --button-text-color: #2f4f4f; /* Dark Slate Gray */
  --highlight-color: #00bfff; /* Deep Sky Blue */
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h2 {
  color: var(--secondary-text-color);
}
.button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  min-width: 7rem;
  max-width: 15rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--accent-color-active);
}

.button:disabled,
.button:hover:disabled {
  background-color: lightgray;
  cursor: not-allowed; /* Optionally add this to change the cursor for disabled buttons */
  color: var(
    --disabled-text-color
  ); /* Optionally set a different text color for disabled buttons */
}
#textSubmissionForm,
#apiResponse {
  width: 95%;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

#textSubmissionForm {
  width: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  justify-self: center;
  align-self: center;
}

#textSubmissionForm input[type="text"],
#textInput {
  width: 100%;
  max-width: 23rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--highlight-color);
  box-sizing: border-box;
}

textarea#apiResponse {
  resize: none; /* Prevents resizing */
}

.container {
  width: 60rem;
  max-width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#spotify-player {
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it takes full width of its flex portion */
  max-width: 400rem;
  flex: 1; /* Equal space distribution with the form column */
  min-height: 30rem;
}

#spotify-login {
  text-align: center;
}

#spotify-form {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.form-and-response {
  display: flex;
  flex: 1;
  margin-bottom: 1rem;
}

#spotify-player-iframe,
#spotify-player-placeholder {
  /* object-fit: contain; */
  position: absolute;
  border-radius: 1rem;
  box-sizing: border-box;

  width: 300px;
  height: 470px;

  max-width: 100%;
}

#spotify-player-placeholder {
  height: 300px;
}

@media (max-width: 768px) {
  #spotify-form {
    flex-direction: column;
  }
}
